
@{
    ViewBag.Title = "NoProductsFound";
}
<style>
    .noproduct {
        text-align: center;
        color: red;
        font-size: 50px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

</style>
<body>
    <div class="noproduct">
        <p>Xin lỗi!!!</p>
        <h2>Sản phẩm hiện đã ngừng bán</h2>
    </div>
</body>


