
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liên hệ</title>
    <link href="~/assets/css/contact.css" rel="stylesheet" />
</head>

<body>
    <!-- contacts -->
    <section class="w3l-contacts-8">
        <div class="contacts-9 section-gap">
            <div class="wrapper">
                <h3 class="global-title text-center">Liên hệ với chúng tôi</h3>
                <div class="top-map">
                    <div class="partners">
                        <div class="cont-details">
                            <h5>Chào mừng bạn đến với FPT-SHOP</h5>
                            <p>Chúng tôi cung cập cho khách hàng một trải nghiệm tốt nhất</p>
                            <p class="margin-top">
                                <span class="fa">Gọi cho chúng tôi </span> <a href="tel:+(84) 978 264 832">
                                    +(84)
                                    978 264 832
                                </a>
                            </p>
                            <p>
                                <span class="fa">Email: </span> <a href="#">
                                    fptshop@gmail.com
                                </a>
                            </p>
                            <h6 class="margin-top">
                                140 Lê Trọng Tấn, phường Tây Thạnh, quận Tân Phú, TP.Hồ Chí Minh
                            </h6>
                        </div>
                        <div class="hours">
                            <h5>Thời gian làm việc</h5> 
                            <h6>Dịch vụ kinh doanh:</h6>
                            <p> Thứ Hai đến Chủ Nhật 8.00 am - 10.00 pm</p>
                            <p> Làm việc cả ngày lễ và tết</p>
                            <h6 class="margin-top">Hỗ trợ khách hàng:</h6>
                            <p> Thứ Hai đến Chủ Nhật 8.00 am - 10.00 pm</p>
                            <p> Làm việc cả ngày lễ và tết</p>
                            <p> Luôn sẵn sàng phục vụ khách hàng</p>
                        </div>
                    </div>
                    <div class="map">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1142.925794724631!2d106.62842405448171!3d10.806302984509227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752b0f70a07397%3A0x3618522127c73084!2zSFVJVCBNRURJQSAtIEvDqm5oIHRow7RuZyB0aW4gdsOgIHRydXnhu4FuIHRow7RuZyDEkOG6oWkgaOG7jWMgQ8O0bmcgVGjGsMahbmcgVFBIQ00!5e0!3m2!1svi!2s!4v1701771773025!5m2!1svi!2s"
                                frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-content-9 form-bg-img">
            <div class="layer section-gap">
                <div class="wrapper">
                    <div class="form">
                        <h5 class="text-center">Gửi về chúng tôi</h5>
                        <form action="https://sendmail.w3layouts.com/submitForm" method="post">
                            <div class="input-grids">
                                <input type="text" name="w3lName" id="w3lName" placeholder="Name">
                                <input type="email" name="w3lSender" id="w3lSender" placeholder="Email" required="" />
                                <input type="subject" name="w3lSubject" id="w3lSubject" placeholder="Subject" required="">
                            </div>
                            <div class="input-textarea">
                                <textarea name="w3lMessage" id="w3lMessage" placeholder="Message" required=""></textarea>
                            </div>
                            <button style=" cursor: pointer; padding: 10px 50px; font-size: 16px; line-height: 25px; background: #009b72; border: none; color: #fff; font-weight: bold; transition: 0.3s ease;" type="submit" class="btn btn-primary">Gửi</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //contacts -->
</body>
</html>